*
{
	margin:0px;
	padding:0px;
}


body
{
	font-family: arial;
	color:white;
	background-color: black;
	text-align:center;
}


header
{
	position:fixed;
	width:100%;
	height:44px;
	background-color: #313131;
	opacity: .99;		
}

section
{
	padding: 70px 0;
	border-bottom-style: solid;
	border-bottom-color: #313131;
	border-bottom-width: 10px;
}

footer
{
	
	background: #f2f2f2;
	color:black;
	clear:both;
	color:grey;
	
}

.textDiv
{
	max-width: 1000px;
	margin:auto;	
}

h1
{
	font-size: 30px;
}

h2
{
	font-size: 17px;

}

h4
{
	font-size: 10px;
}

#topSection
{
	padding-top:100px;
}

#bottomSection
{
	padding-bottom:0px;
}

.maxWidth
{
	max-width:100%;
	padding-bottom:0px;
	margin-bottom:0px;
}

.headerlinks
{
	color: white;
	text-decoration: none;
	padding: 3%;
}

.vertical-centerimg 
{	
	max-height:20px;
	vertical-align:sub;
}

#roundedBorder
{
	margin:auto;
	max-width: 100px;
	color: #a0adb5;
	padding:7px;
	border: 1px solid #a0adb5;
	border-radius: 3px;
}

.headerDiv
{
	line-height:44px;  /*Must match min-height in header*/	
	max-width:1600px;
	margin:auto;
}

.Small
{
	font-size:80%;
}

.SmallBorder
{
	height: 25px;
	width: 25px;
	padding:3px;
	display:inline-block;
	font-size:80%;
	border: 3px solid white;
	border-radius: 7px;
	vertical-align:center;
	transform:translate(5px,-2px);
}
